<% @requests.each do |request| %>
<% request_section_id = "request_section_id_" + request.request.id.to_s %>
<div id='<%= request_section_id %>'>

  <%= render partial: "request", locals: {request: request, 
    request_section_id: request_section_id} %>
</div>
<% end %>
