<% request_section_id = "request_section_id_" + request.request.id.to_s %>
<div class="well media span12">
  <!--Sidebar content-->
  <a class="pull-left" href="#">
    <img  class="media-object" src='<%= "https://graph.facebook.com/#{request.sp_uid}/picture" %>'/>
  </a>

  <div class="media-body">
    <!--Body content-->
    <h6 class="media-heading"><%= request.user_name%> has sent a request @ <%= time_ago_in_words request.request.created_at %> ago</h6>

    <div class="row-fluid">
      <div class="span10">
        <!--Body content-->
        <%= request.request.message %>
      </div>
    </div>

    <div class="row-fluid">
      <% if request.others_request?%>
        <% if request.unconfirmed? %>
          <button id='<%= "request_approve_btn" + request.request.id.to_s  %>'
          class="btn btn-mini btn-link" type="button"
          onclick='mv_response_action(<%= request.request.id%>, <%= request.response.id%>, "approve", "<%= "#" + request_section_id %>")'>Approve</button>
          <button id="request_reject_btn" class="btn btn-mini btn-link"
          type="button"
          onclick='mv_response_action(<%= request.request.id%>, <%= request.response.id%>, "reject", "<%= "#" + request_section_id %>")'>Reject</button>
        <% else%>
          You have confirmed this
          <button id='<%= "request_approve_btn" + request.request.id.to_s  %>'
          class="btn btn-mini btn-link" type="button"
          onclick='mv_response_action(<%= request.request.id%>, <%= request.response.id%>, "revert", "<%= "#" + request_section_id %>")'>Revert</button>
          
        <% end%>
      <% end%>
      <div class="span3">
        Approved <span class="badge badge-success"><%= request.stat.accepted_req%></span>
      </div>
      <div class="span3">
        <!--Body content-->
        Rejected <span class="badge badge-warning"><%= request.stat.rejected_req%></span>
      </div>
      <div class="span3">
        <!--Body content-->
        Total <span class="badge badge-info"><%= request.stat.total_req%></span>
      </div>
    </div>

  </div> <!-- <div class="media-body"> -->
  </div>     <!-- <div class="well media span8"> -->