<div class='container content-area'>
  <div class='row'>
    <%= render :partial => 'common/page_header', :locals => {:title => 'Update Profile'} %>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
      <div class="control-group">
        <%= devise_error_messages! %>
      </div>
      
      <%= render :partial => 'common/control_group_text', :locals  => {:form => f, :item => :name} %>
      <%= render :partial => 'common/control_group_email', :locals => {:form => f, :item => :email} %>
      
      <% unless current_user.external_signup? %>
        <%= render :partial => 'common/control_group_password', :locals => {:form => f, :item => :password} %>
        <%= render :partial => 'common/control_group_password', :locals => {:form => f, :item => :password_confirmation} %>
        <%= render :partial => 'common/control_group_password', :locals => {:form => f, :item => :current_password} %>
      <% end %>
      
      
      <div class="control-group">
        <div class="controls">
            <%= f.submit 'Update',  :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    
  </div>
</div>

<!--
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
-->
