<div class='container content-area'>
  <div class='row'>
    <%= render :partial => 'common/page_header', :locals => {:title => 'Sign-up'} %>
    <div class='span5'>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
        <div class="control-group">
          <%= devise_error_messages! %>
        </div>
        
        <%= render :partial => 'common/control_group_email', :locals => {:form => f, :item => :email} %>
        <%= render :partial => 'common/control_group_password', :locals => {:form => f, :item => :password} %>
        <%= render :partial => 'common/control_group_password', :locals => {:form => f, :item => :password_confirmation} %>
        <div class="control-group">
          <div class="controls">
            <%= f.submit 'Sign-up',  :class => 'btn btn-primary' %>
          </div>
          <br/>
          <div class='controls'>
            <%= render :partial => "devise/shared/links" %> 
          </div>
        </div>
      <% end %>
    </div>
    <div class='span1'>
    </div>
    <div class='span5' style='border-left: 2px solid whiteSmoke; padding-left:3em;'>
      <h3>Social Signup</h3>
      <div class='row'>
        <%= link_to(image_tag('facebook/facebook_button.png'), user_omniauth_authorize_path(:facebook)) %>
      </div>
    </div>
  </div>
</div>

<!--
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
-->
