<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @template.game %>
</p>

<p>
  <b>Score:</b>
  <%= @template.score %>
</p>


<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
