<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!--User Profile with Profile Image and Summary-->
      <div class="container-fluid well">
        <div class="row-fluid">
          <div class="span3">
            <img src='<%= "https://graph.facebook.com/#{@user.sp_uid}/picture"%>' class="img-rounded">
            <!--Sidebar content-->
          </div>
          <div class="span8">
            <a href=""><%= @user.user_name %></a>
            <!--Body content-->
          </div>
        </div>
      </div>
    </div>
    
    <div id="dashboard-vouch-feed" class="span6">
      <!-- Put the main content here-->
    </div>
      <script>
        $("#dashboard-vouch-feed").load("/request");
      </script>
    <!--div class="span10" -->
    <!--Body content-->
    <!--/div -->
  </div>
</div>