<div class='container'>
  <div id='homebox'>
    
    <div class='row' style='padding-left:10px'>
    </div>
    
    <div class='row'>
      <div class='span6'>
        <div class='row' style='padding-left:25%'>
          <%= image_tag('beta1.jpg') %>
        </div>
        
        <center>
          <h1 id='home-brand'>Vouch On <font color='red'>Me!</font></h1>
          <h2 id='home-tagline'>World's First Social Vouch Platform</h2>
          
          <%= link_to(image_tag('facebook/facebook_button.png'), user_omniauth_authorize_path(:facebook)) %>
        </center>
      </div>
    </div>
    
    <div class='row'>
      
    </div>
    
  </div>

  <div class='row'>
    <hr/>
    <ul class='footer-links'>
      <li><%= link_to "About Us","#" %> &#187;</li>
      <li><%= link_to "Contact Us" %>
    </ul>
  </div>
</div>