<div class='container content-area'>
  <div class='row'>
    <%= render :partial => 'common/page_header', :locals => {:title => 'Sign-in'} %>
    <div class='span5'>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
        <div class="control-group">
          <%= devise_error_messages! %>
        </div>
        
        <%= render :partial => 'common/control_group_email', :locals => {:form => f, :item => :email} %>
        <%= render :partial => 'common/control_group_password', :locals => {:form => f, :item => :password} %>
        
        <div class="control-group">
          <div class="controls">
            <%= f.submit 'Sign-in',  :class => 'btn btn-primary' %>
          </div>
          <br/>
          <div class='controls'>
            <%= render :partial => "devise/shared/links" %> 
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<!--
<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
-->