  <script>
      FB.init({
        appId  : '281584418611660',
        frictionlessRequests: true
      });

      function sendRequestToRecipients() {
        var user_ids = document.getElementsByName("user_ids")[0].value;
        FB.ui({method: 'apprequests',
          message: 'Will you be my vouchee. Please click http://myvouchee.com/vouchee/signup/874645894',
          to: user_ids
        }, requestCallback);
      }

      function sendRequestViaMultiFriendSelector() {
        FB.ui({method: 'apprequests',
          message: 'Will you be my vouchee. \n Please click http://myvouchee.com/vouchee/signup/874645894'
        }, requestCallback);
      }
      
      function requestCallback(response) {
        // Handle callback here
      }
    </script>

  <a href="https://www.facebook.com/dialog/oauth?client_id=281584418611660&redirect_uri=http://localhost:3000/&response_type=token">Vouch</a>

    <a href="https://www.facebook.com/dialog/apprequests?
  app_id=281584418611660&
  message=Please follow me blah blah blah blah blag kjvfkjvkfjvkfjvkfjvkfjvkfjvkfjvkfjvkfjvkfjvkfjvkfvjfkvjfkjvjfkjvfkjvfjkvjfjkvjfjvjfkjvfjkvjkfjvjdkkfoewfkfjf&
  redirect_uri=http://localhost:9000/response">Vouch</a>
