#site-content-area {
  margin-top: 60px;
  min-height: 400px;
}

.content-area {
  padding-top: 2.5em; 
}

#homebox {
  margin-top: 100px;
  padding-left: 25%;
}

#homebox h1 {
  font: 400 85px 'PT Sans Narrow';
  font-weight: bold;
}

#homebox h2 {
  font: 400 28px 'PT Sans Narrow';
  text-shadow: 1px 1px 1px #333333
}

.footer {
  padding: 30px;
  margin-top: 30px;
  border-top: 1px solid #e5e5e5;
  background-color: whiteSmoke;
  min-height: 150px;
}

.footer-links {
  padding: 0;
  font: 400 15px 'PT Sans Narrow';
}

.footer-links li {
  display: inline;
  list-style-type: none;
  padding-right: 0.5em;
}

