<div class="control-group">
  <label class="control-label" for="input<%= item.to_s.camelize %>"><%= item.to_s.humanize   %></label>
  <div class="controls">
    <%= form.password_field item %>
  </div>
</div>