<div class="control-group">
  <label class="control-label" for="input<%= item.to_s.capitalize %>"><%= item.to_s.capitalize %></label>
  <div class="controls">
    <%= form.email_field item %>
  </div>
</div>