<div class="btn-group">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    Account
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to "Settings", edit_user_registration_path(current_user) %>
    </li>
    <li>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
    </li>
  </ul>
</div>