<div id='error-modal' class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Alert</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-error">
      <h4>Heads Up!</h4>
      <%= alert %>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
  </div>
</div>

<div id='notice-modal' class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Notice</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-success">
      <h4>Great !</h4>
      <%= notice %>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
  </div>
</div>

<script>
  <% if (!notice.nil?) %>
    $('#notice-modal').modal();
  <% elsif (!alert.nil?) %>
    $('#error-modal').modal();
  <% end %>
</script>

