<div class="btn-group">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    Invite Friends
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to "Facebook", '#' %>
    </li>
    <li>
      <%= link_to "E-Mail", '#' %>
    </li>
  </ul>
</div>
