<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MyVouchee - Vouch for your Friends and Family!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Jura:600' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class='container'>
        <div class='row'>
          <div>
            <ul class='nav'>
              <li><%= link_to "Home", "/" %></li>
            </ul>
          </div>
          <div class='pull-right' style='margin-right: 4em;'>
            <% if user_signed_in? %>
              <div class='btn-toolbar'>
                <%= render :partial => 'layouts/invite_options' %>
                <%= render :partial => 'layouts/account_options' %>
              </div>
            <% else %>
              <a href='/users/sign_in' class='btn btn-small'> Sign In </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id='site-content-area'>
     <%= yield %>
  </div>
  <footer class='footer'>
    <div class='container'>
    </div>
  </footer>
  <%= render :partial => 'layouts/info_modal' %>
</body>
</html>
