<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @account.type %>
</p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
